<h1>About Us</h1>
<p>
This is a small self-contained web app in Ruby on Rails providing the ability to store 		metadata for a number of Mp3 files, rate them, and generate randomized playlists in m3u format. Full source code can be found at <a href="https://github.com/dermdunc/rate_mps_app">Rate MP3s App</a>
</p>
