
<div id="errors" class="field_with_errors"></div>
<div id="grid_here" style="width:600px; height:400px;"></div>
<script type="text/javascript" charset="utf-8">

	var grid = new dhtmlXGridObject("grid_here");
    grid.setImagePath("/javascripts/imgs/");
    grid.setHeader("Title, Artist, URL, Length, Avg Rating, Set Rating");
    grid.setInitWidths("150,100,100,70,70,*");
	grid.attachHeader("#text_filter,#text_filter,#text_filter,#text_filter,#text_filter");
	grid.setColSorting("str,str,str,str,str");
    grid.setSkin("dhx_skyblue");
	grid.attachEvent("onEnter", doOnEnter);

    grid.init();
	grid.load("/data");

	dp = new dataProcessor("/dbaction/");
	dp.setVerificator(5,checkIfBetweenOneAndFive)
	dp.setVerificator(3,checkIfNumber)
	//dp.defineAction("error",my_action);
	dp.init(grid);
	
	//Verification fucntion specified in setVerificator method will always get two argumentrs: value to verify and column name (use it for message)
		function checkIfBetweenOneAndFive(value,colName){
			if (value != null && value != "")
			{
				if(value.toString()._dhx_trim()<="0" || value.toString()._dhx_trim()>"5"){
					errors.innerHTML = "Error: rating should be between 1 and 5"
					return false
				}
				
			}
			errors.innerHTML = ""
			return true;
		}
		
		function checkIfNumber(value,colName){
			if (value != null && value != "")
			{
				if(isNaN(value)){
					errors.innerHTML = "Error: length should be a number"
					return false
				}
				
			}
			errors.innerHTML = ""
			return true;
		}
	
	function myErrorHandler(type, desc, erData){
	            errors.innerHTML = "Error: " + erData[0].statusText.toString()
	    }
	dhtmlxError.catchError("ALL",myErrorHandler);

	function doOnEnter(rowId, cellInd) {
		grid.updateFromXML('/data')
	    //protocolIt("User pressed Enter on row with id " + rowId + " and cell index " + cellInd);
	}
</script>
      
<input type="button" class="button orange" value="Add" onclick="grid.addRow(grid.uid(),'new song')">
<input type="button" class="button orange" value="Delete" onclick="grid.deleteSelectedRows()">

