<h1>Help</h1>
<p>
  This app allows a user to create and update a <%= link_to "playlist", edit_path %> of MP3s. To view a list of MP3s click the <%= link_to "playlist", edit_path %> link. The playlist is displayed in an editable grid which allows you to
<ul>
	<li>Add a new song to the playlist. Click the add button and a new row will be added to the grid</li>
	<li>Edit an existing song in the playlist. Double click the value you wish to update.</li>
	<li>Delete a song from the playlist. Select the MP3 you want to delete and click the delete button</li>
	<li>Give a song a rating. Note, the rating must be between 1 and 5. The grid will show the average rating for the playlist.</li>
	<li>Sort the data based on title, artist, url, track length or rating. Click the column you wish to sort on</li>
	<li>Search the data using smart search to find specific MP3s. Type your search criteria into the search boxes at the top of each column and the data will be automatically filtered</li>
</ul>
</p>
