<h1>Home</h1>
<p>This site is a small self-contained web app in Ruby on Rails providing the ability to store metadata for a number of Mp3 files including
	<ul>
		<li>Title</li>
		<li>Artist</li>
		<li>URL</li>
		<li>Track Length</li>
		<li>Rating</li>
	</ul>
A track can be rated any number of times and the average rating is displayed in the grid. The grid includes search and filter capability to organise and personalize the data. Click the <%= link_to "playlist", edit_path %> link to view and edit the playlist.
</p>
